.container {
  display: grid;
  grid-template-columns: 1fr 5fr;
  grid-template-rows: 1fr 6fr;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: black;
}